body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 100px auto;
    background-color: #000;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.submit, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.submit, input[type="submit"] {
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit, input[type="submit"]:hover {
    background-color: #ccc;
}

p {
    font-size: 14px;
    margin-top: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}
